@model Bar.Models.Usuario
@{
    ViewBag.Title = "Painel de Controle";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Painel de Controle</h1>

<a href="/usuario/login" class="btn btn-primary">Login</a>