@using Bar.Models
@model List<Mesa>
<link rel="stylesheet" href="~/css/mesa.css" />
@{
  ViewBag.Title = "Painel de Controle";
}

<div class="container">
  <section class="menu">
    @foreach (var mesa in Model)
    {
      <div class="card">
        <div class="card-header">
          <h6>Mesa @mesa.IdMesa</h6>
          <h6>@mesa.TextoStatus</h6>
        </div>
        <button class="btn btn-primary btn-sm">Acessar</button>
      </div>
    }

  </section>
</div>