@using Bar.Models
@model Bar.Models.Mesa
<link rel="stylesheet" href="~/css/mesa.css" />
@{
  ViewBag.Title = "Painel de Controle";
}

<div class="container">
  <section class="menu">
    @foreach (var mesa in @ViewBag.Mesas)
    {
      <div class="card">
        <div class="card-header">
          <h5>Mesa @mesa.IdMesa</h5>
          <h5>@mesa.TextoStatus</h5>
        </div>
        <div class="card-body">
          <h6>Usuário:</h6>
        </div>
        <a href="/mesa/painel/@mesa.IdMesa" class="btn btn-primary btn-sm">Acessar</a>
      </div>
    }

  </section>
</div>