* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #28282d;
  color: white;
  margin-bottom: 1.5rem;
}

body {
  background: #303038;
}

footer {
  background: #28282d;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}
