@using Bar.Models
@{
    ViewBag.Title = "Bar";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Bar</h1>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Texto</th>
        <th>Concluida</th>
        <th>Usuário</th>
        <th>&nbsp;</th>
    </tr>

    @* <img src='/images/icon.png' /> *@

</table>