@model Bar.Models.Usuario
@{
  ViewBag.Title = "Login";
}

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background: #28282d;
    color: white;
  }

  body {
    background: #303038;
  }

  footer {
    background: #28282d;
  }

  .container2 {
    width: min(90vw, 800px);
    margin: auto;
    height: 100vh;
  }

  .login {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .cpf {
    background: #28282d;
    color: white;
    padding: 1rem 1rem;
    width: 50%;
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 1rem;
  }

  .input-group input {
    color: white;
  }

  .form-select {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    outline: none;
    padding: 6px 12px;
  }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <main class="container2">
    <form asp-controller="Usuario" asp-action="Login" method="POST">
      <section class="login">
        <div class="cpf">

          <select class="form-select" name="tipo" asp-for="Tipo" required>
            <option value="" selected>Selecione o tipo de usuário</option>
            <option value="cliente">Cliente</option>
            <option value="funcionario">Funcionário</option>
          </select>
          <div class="input-group">
            <input type="text" name="Cpf" placeholder="Digite seu CPF" asp-for="Cpf" class="form-control" required
              autofocus />
            <div class="input-group-append">
              <button class="btn btn-primary btn-sm">Entrar</button>
            </div>
          </div>

          @if (ViewBag.Message != null)
          {
            <div class="alert alert-danger" style="margin: 1rem 0 0 0">
              @ViewBag.Message
            </div>
          }
        </div>
      </section>

    </form>
  </main>

</body>

</html>
